.add-btn{
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: -15px;
}
.label-input{
    margin: 15px!important;

}
input .input-modal{
    margin-bottom: 10px!important;
    width: 100px!important;
    height: 40px!important;
}